img.add {
  background-color: #053960;
  border-radius: 100%;
  bottom: 15px;
  cursor: pointer;
  height: 60px;
  padding: 10px;
  position: fixed;
  right: 15px;
  width: 60px;
}

h3 {
  font-size: 22px;
  font-weight: normal;
  margin: 25px 0 10px;
  padding: 0 10px;
}

.form-group {
  height: 65px;
  line-height: 65px;
}

label.moving {
  display: block;
  font-size: 16px;
  line-height: 16px;
  opacity: .5;
  padding: 5px 10px 0;
  position: relative;
  top: 30px;
  transition: .3s;
  width: 100%;

  &.up {
    color: #ccc;
    font-size: 12px;
    opacity: 1;
    top: 2px;
  }
}

label.checkbox {
  background-color: #999;
  color: transparent;
  border-radius: 2px;
  display: inline-block;
  font-size: 22px;
  line-height: 28px;
  margin: 15px;
  text-align: center;
  transition: .2s;
  width: 28px;
}
input[type="checkbox"] {
  display: none;

  &:checked + label.checkbox {
    background-color: #fff;
    color: #053960;
  }
}

input[type="text"],
input[type="email"],
input[type="password"],
textarea {
  display: block;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #369;
  color: #fff;
  font-size: 1em;
  margin-bottom: 5px;
  outline: none;
  padding: 10px;
  width: 100%;
}
textarea {
  border: none;
  border-bottom: 1px solid #369;
  font-size: 1em;
  margin-bottom: 5px;
  outline: none;
  padding: 10px;
  width: 100%;
}

button {
  background-color: #053960;
  border: none;
  color: #fff;
  cursor: pointer;
  font-size: 20px;
  margin: 10px 0;
  padding: 20px;
  text-align: center;
  width: 100%;

  &.submit {
    bottom: 0;
    left: 0;
    margin-bottom: 0;
    position: absolute;
  }

  &.danger {
    background-color: #822;
  }
}

.buttons {
  bottom: 0;
  left: 0;
  margin: 0;
  position: fixed;
  right: 0;
  transition: .3s;
}

.buttons .left,
.buttons .right {
  background-color: rgba(5, 57, 96, 0.95);
  border-top: 1px solid #07182F;
  display: block;
  line-height: 60px;
  margin: 0;
  padding: 0 20px;
  float: right;
  text-align: center;
  text-decoration: none;
  width: 50%;
}
.buttons .left {
  border-right: 1px solid #07182F;
  float: left;
}

form.overlay {
  background-color: rgba(20, 20, 20, .99);
  height: 100%;
  left: 0;
  opacity: .8;
  position: fixed;
  right: 0;
  top: 100%;
  transition: .3s;
  z-index: 110;

  &.show {
    opacity: 1;
    top: 0;

    .buttons {
      bottom: 0;
    }
  }

  .buttons {
    bottom: -100%;
  }

  #close {
    padding: 15px;
    position: absolute;
    right: 0;
    top: 0;
  }

  h2 {
    background-color: rgba(5, 57, 96, 0.95);
    color: #fff;
    font-size: 20px;
    font-weight: normal;
    line-height: 56px!important;
    margin: 0!important;
    padding: 0 20px;
  }

}
