* {
  font-family: Helvetica, Verdana, sans-serif;
  box-sizing: border-box;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

body {
  background-color: #07182F;
  color: #fff;
  font-size: 18px;
  height: 100%;
  margin: 0;
  overflow: hidden;
}

a {
  color: #fff;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

main {
  left: 0;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  position: absolute;
  top: 0;
  width: 100%;
}

header.main {
  background-color: rgba(5, 57, 96, .95);
  color: #fff;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -ms-flex-direction: row;
  -webkit-flex-direction: row;
  flex-direction: row;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  height: 56px;
  left: 0;
  padding: 0 16px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
  -webkit-transform: rotateZ(360deg);
  -moz-transform: rotateZ(360deg);
  -ms-transform: rotateZ(360deg);
  -o-transform: rotateZ(360deg);
  transform: rotateZ(360deg);

  label img {
    border-radius: 100%;
    margin: 0 10px 0 -5px;
    padding: 5px;
    transition: .3s;

    &:active {
      background-color: rgba(7, 24, 47, .2);
    }
  }

  .title {
    font-family: 'Roboto', 'Noto', sans-serif;
    -webkit-font-smoothing: antialiased;
    -ms-flex: 1 1 0.000000001px;
    -webkit-flex: 1;
    flex: 1;
    -webkit-flex-basis: 0.000000001px;
    flex-basis: 0.000000001px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 20px;
    font-weight: 400;
    line-height: 1;
    pointer-events: none;
  }
}

section.main {
  padding-top: 56px;

  h2 {
    font-weight: normal;
    line-height: 2em;
    margin: 20px 20px 40px;
  }
}

#sub-menu {
  border-radius: 100%;
  padding: 5px;
  position: fixed;
  right: 10px;
  top: 10px;
  transition: .3s;
  z-index: 110;

  &:active {
    background-color: rgba(7, 24, 47, .2);
  }
}
nav.sub-menu {
  background-color: rgba(0, 0, 0, 0.3);
  bottom: 0;
  left: 0;
  opacity: 0;
  position: fixed;
  right: 0;
  top: 0;
  transition: opacity ease-in-out 0.2s, visibility ease-in-out 0.2s;
  visibility: hidden;
  z-index: 110;

  &.show {
    opacity: 1;
    visibility: visible;
  }

  ul {
    background: #fff;
    border-radius: 2px;
    box-shadow: 0 0 10px #000;
    color: #000;
    margin: 0;
    padding: 0;
    position: fixed;
    right: 10px;
    top: 10px;
  }

  li {
    list-style: none;
  }
  a {
    color: #000;
    display: block;
    padding: 20px;
    text-decoration: none;
  }
}


ul.list {
  margin: 20px;
  padding: 0;

  li {
    background: #fff;
    color: #07182F;
    border-radius: 4px;
    list-style: none;
    line-height: 50px;
    margin: 0 0 20px;
    overflow: hidden;
    padding: 10px;
    text-overflow: ellipsis;
    transition: .3s;
    white-space: nowrap;
    width: 100%;

    a {
      color: #07182F;
    }

    .img {
      background: #ccc;
      border: 2px solid #999;
      border-radius: 100%;
      float: left;
      height: 50px;
      margin-right: 10px;
      text-align: center;
      width: 50px;
    }

    .estimate {
      opacity: 0;
      transition: .2s;
    }
  }
}


.no-data {
  background: lighten(#07182F, 5);
  border-radius: 4px;
  color: #def;
  line-height: 32px;
  margin: 200px auto 20px;
  padding: 20px;
  text-align: center;
  width: 300px;
  max-width: 80%;
}
