<template name="Poker">

  <paper-icon-button id="sub-menu" icon="more-vert"></paper-icon-button>
  <nav class="sub-menu">
    <ul>
      <li><a href="#session-info" class="session-info">Session info</a></li>
      {{#if isModerator}}
      <!-- <li><a href="#kick" class="kick">Kick participants</a></li> -->
      <li><a href="#reset" class="reset">Reset session</a></li>
      <li><a href="/sessions" class="close">Close session</a></li>
      {{else}}
      <li><a href="/sessions">Leave session</a></li>
      {{/if}}
    </ul>
  </nav>

  <section class="poker main{{#unless isParticipant}} observer{{/unless}}{{#unless userIsThinking}} chosen{{/unless}}{{#if everybodyPlayed}} all-played{{/if}}">

    {{#if isParticipant}}
    <div id="card">
      <div class="top">{{pokerValue}}</div>
      {{pokerValue}}
      <div class="bottom">{{pokerValue}}</div>
    </div>

    <paper-slider min="0" max="14" value="0" snaps></paper-slider>
    {{/if}}

    <ul class="participants">
      {{#each estimates}}
        <li class="{{#if isThinking estimate}}thinking{{else}}done{{/if}}">
          <div class="img">
              <span class="estimate">{{pokerValue estimate}}</span>
          </div>
          {{userName user}}
        </li>
      {{/each}}
    </ul>

    <div class="average">{{pokerValue averageValue}}</div>

    {{#if isParticipant}}
    <button type="button" name="change" class="change">Change card</button>
    {{/if}}

    <div id="session-info">
      <div class="content">
        <h3>{{name}}</h3>
        <dl>
          <dt>Moderator:</dt> <dd>{{userName moderator}}</dd>
          <dt>Participants:</dt> <dd>
            <ul>
            {{#each participants}}
              <li>{{userName this}}</li>
            {{/each}}
            </ul>
          </dd>
          <dt>Type:</dt> <dd>{{type}}</dd>
          <dt>Created:</dt> <dd>{{dateTimeFormat created}}</dd>
        </dl>
      </div>
    </div>

  </section>
</template>
