<template name="Poker">

  <!-- <paper-icon-button id="sub-menu" icon="more-vert"></paper-icon-button> -->
  <img src="/images/ic_submenu.svg" alt="Show submenu" id="sub-menu">

  <nav class="sub-menu">
    <ul>
      <li><a href="#session-info" class="session-info">Session info</a></li>
      {{#if isModerator}}
      <!-- <li><a href="#kick" class="kick">Kick participants</a></li> -->
      <li><a href="#reset" class="reset">Reset session</a></li>
      <li><a href="/sessions" class="close">Close session</a></li>
      {{else}}
      <li><a href="/sessions">Leave session</a></li>
      {{/if}}
    </ul>
  </nav>

  <section class="poker main{{#unless isParticipant}} observer{{/unless}}{{#unless userIsThinking}} chosen{{/unless}}{{#if everybodyPlayed}} all-played{{/if}}">

    {{#if isParticipant}}

    <div class="swiper-container cards">
        <div class="swiper-wrapper">
            <div class="swiper-slide card" data-value="0"> <div class="top">0</div> 0 <div class="bottom">0</div> </div>
            <div class="swiper-slide card" data-value="0.5"> <div class="top">½</div> ½ <div class="bottom">½</div> </div>
            <div class="swiper-slide card" data-value="1"> <div class="top">1</div> 1 <div class="bottom">1</div> </div>
            <div class="swiper-slide card" data-value="1.5"> <div class="top">1½</div> 1½ <div class="bottom">1½</div> </div>
            <div class="swiper-slide card" data-value="2"> <div class="top">2</div> 2 <div class="bottom">2</div> </div>
            <div class="swiper-slide card" data-value="3"> <div class="top">3</div> 3 <div class="bottom">3</div> </div>
            <div class="swiper-slide card" data-value="5"> <div class="top">5</div> 5 <div class="bottom">5</div> </div>
            <div class="swiper-slide card" data-value="8"> <div class="top">8</div> 8 <div class="bottom">8</div> </div>
            <div class="swiper-slide card" data-value="13"> <div class="top">13</div> 13 <div class="bottom">13</div> </div>
            <div class="swiper-slide card" data-value="20"> <div class="top">20</div> 20 <div class="bottom">20</div> </div>
            <div class="swiper-slide card" data-value="40"> <div class="top">40</div> 40 <div class="bottom">40</div> </div>
            <div class="swiper-slide card" data-value="100"> <div class="top">100</div> 100 <div class="bottom">100</div> </div>
            <div class="swiper-slide card" data-value="∞"> <div class="top">∞</div> ∞ <div class="bottom">∞</div> </div>
            <div class="swiper-slide card" data-value="??"> <div class="top">?</div> ? <div class="bottom">?</div> </div>
            <div class="swiper-slide card" data-value="break"> <div class="top"><img src="/images/ic_coffee.svg"></div> <img src="/images/ic_coffee.svg"> <div class="bottom"><img src="/images/ic_coffee.svg"></div> </div>
        </div>
        <!-- Add Pagination -->
        <div class="swiper-pagination"></div>
    </div>

    {{/if}}

    <ul class="participants">
      {{#each estimates}}
        <li class="{{#if isThinking estimate}}thinking{{else}}done{{/if}}">
          <div class="img">
              <span class="estimate">{{estimate}}</span>
          </div>
          {{userName user}}
        </li>
      {{/each}}
    </ul>

    <div class="average">{{averageValue}}</div>

    {{#if isParticipant}}
    <button type="button" name="change" class="change">Change card</button>
    {{/if}}

    <div id="session-info">
      <div class="content">
        <h3>{{name}}</h3>
        <dl>
          <dt>Moderator:</dt> <dd>{{userName moderator}}</dd>
          <dt>Participants:</dt> <dd>
            <ul>
            {{#each participants}}
              <li>{{userName this}}</li>
            {{/each}}
            </ul>
          </dd>
          <dt>Type:</dt> <dd>{{type}}</dd>
          <dt>Created:</dt> <dd>{{dateTimeFormat created}}</dd>
        </dl>
      </div>
    </div>

  </section>
</template>
