/*****************************************************************************/
/* Poker: Style */
/*****************************************************************************/
@import url(https://fonts.googleapis.com/css?family=News+Cycle:700);
.poker {

  #card {
    background-color: #fff;
    border: 2px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 5px 2px #ccc;
    color: #369;
    font-family: 'News Cycle', Verdana, sans-serif;
    font-size: 120px;
    left: 20px;
    line-height: 330px;
    height: 330px;
    margin: 20px auto;
    position: absolute;
    right: 20px;
    text-align: center;
    top: 60px;
    transition: .3s;
    max-width: 280px;
  }

  &.chosen {

    #card {
      top: -380px;
    }

    paper-slider {
      bottom: -30px;
      opacity: 0;
    }

    button.change {
      bottom: 0;
    }

    .participants {
      opacity: 1;
      visibility: visible;

      li {
        &:nth-child(odd) {
          margin-left: 0;
        }

        &:nth-child(even) {
          margin-left: 0;
        }
      }
    }

  }

  paper-slider {
    bottom: 30px;
    left: 0;
    opacity: 1;
    position: absolute;
    transition: .3s;
    width: 100%;

    #sliderContainer {
      margin: 0 30px!important;
    }
  }

  button.change {
    bottom: -55px;
    left: 0;
    margin-bottom: 0;
    opacity: .7;
    position: fixed;
    transition: .3s;

    &:focus {
      outline: none;
    }
  }

  .participants {
    margin: 0;
    opacity: 0;
    padding: 20px 20px;
    transition: .5s;
    visibility: hidden;

    li {
      background: #fff;
      color: #07182F;
      border-radius: 4px;
      list-style: none;
      line-height: 50px;
      margin: 0 0 20px;
      opacity: .5;
      overflow: hidden;
      padding: 10px;
      text-overflow: ellipsis;
      transition: .3s;
      white-space: nowrap;
      width: 100%;
      opacity: .5;
      transform: scale(.9);

      &:nth-child(odd) {
        margin-left: -120%;
      }

      &:nth-child(even) {
        margin-left: 120%;
      }

      // &:nth-child(odd) {
      //   clear: both;
      //   float: left;
      //   margin-left: 10px;
      // }
      //
      // &:nth-child(even) {
      //   float: right;
      //   margin-right: 10px;
      // }

      &.thinking {

      }

      &.done {
        opacity: 1;
        transform: scale(1);
      }

      .img {
        background: #ccc;
        border: 2px solid #999;
        border-radius: 100%;
        float: left;
        height: 50px;
        margin-right: 10px;
        width: 50px;
      }
    }
  }

}

#session-info {
  background-color: rgba(255, 255, 255, .95);
  bottom: -100%;
  color: #000;
  left: 0;
  opacity: 0;
  padding: 20px 20px 0;
  position: absolute;
  transition: .2s;
  visibility: hidden;
  width: 100%;
  z-index: 100;

  &.show {
    bottom: 0;
    opacity: 1;
    visibility: visible;
  }

  h3 {
    font-weight: normal;
    margin: 0 0 20px;
  }

  dt {
    clear: both;
    float: left;
    margin-bottom: 20px;
    width: 120px;
  }
  dd {
    margin: 0 0 20px 120px;
  }
}
