<template name="Menu">

  <label id="scrim" for="show-menu"></label>

  <nav class="main">
    <div class="team">
      <a href="/team"><img src="/images/ic_settings.svg" alt="Team settings"></a>
      Team name
    </div>
    <ul>
      <!-- <li><a href="/">Dashboard</a></li> -->
      <!-- <li><a href="/tasks">Tasks</a></li> -->
      <!-- <li><a href="/projects">Projects</a></li> -->
      <li><a href="/sessions">Poker planning</a></li>
      <li><a href="/retrospective">Retrospective</a></li>

      <li class="settings"><a href="/settings">Settings</a></li>
      <li class="logout"><a href="#logout">Log out</a></li>
    </ul>
  </nav>

</template>
