<template name="ChangePicture">

  <form class="overlay change-picture" enctype="multipart/form-data">
    <img src="/images/ic_close.svg" alt="Close" id="close">

    <h2>Change profile picture</h2>

    <input type="file" id="picture">

    <label for="picture" class="img">
      <img src="/images/profiles/jorg.jpg">
    </label>

    <button class="danger remove">Remove</button>

    <p class="buttons">
      <label for="picture" class="right">Upload picture</label>
      <a href="#" class="left">Set URL</a>
    </p>

  </form>

</template>
