/*****************************************************************************/
/* Settings: Style */
/*****************************************************************************/
section.settings {
  padding: 10px;

  #email {
    margin-bottom: 40px;
  }

  a.change-password {
    display: block;
    margin: 0 10px 40px;
  }
  div.change-password {
    display: none;
  }

}
