/*****************************************************************************/
/* Settings: Style */
/*****************************************************************************/
section.settings {
  padding: 10px;

  #email {
    margin-bottom: 40px;
  }

  a.change-password {
    display: block;
    margin: 0 10px 40px;
  }

  p.change-password {
    line-height: 65px;
    margin: 0;
    padding: 0 10px;
  }

  div.change-password {
    display: none;
  }

}
