<template name="Settings">
  <section class="main settings">

    <form>
      
      <h3>Your Profile</h3>
      <label for="name" class="moving">Your name</label>
      <input type="text" id="name" value="{{ profile.name }}" required>

      <label for="email" class="moving">Your e-mail address</label>
      <input type="email" id="email" value="{{ profile.email }}" required>


      <a href="#" class="change-password">Wanna change your password?</a>
      <div class="change-password">
        <h3>Change Password</h3>
        <label for="current-password" class="moving">Current Password</label>
        <input type="password" id="current-password">

        <label for="new-password" class="moving">New Password</label>
        <input type="password" id="new-password">

        <label for="confirm-password" class="moving">Confirm New Password</label>
        <input type="password" id="confirm-password">
      </div>

      <button type="submit">Save</button>

    </form>

  </section>
</template>
