<template name="RetrospectiveComment">

  <form class="overlay retrospective-comment" enctype="multipart/form-data">
    <img src="/images/ic_close.svg" alt="Close" id="close">

    <h2>Add a comment</h2>

    <label for="comment" class="moving">Your comment</label>
    <textarea id="comment" rows="8" required></textarea>

    <p class="buttons">
      <button type="submit" name="positive" class="right positive">+</button>
      <button type="submit" name="negative" class="left negative">-</button>
    </p>

  </form>

</template>
