/*****************************************************************************/
/* Login: Style */
/*****************************************************************************/
.login {
  margin: 0 auto;
  max-width: 450px;

  form {
    margin-top: 20px;
  }

  .name {
    height: 0;
    opacity: 0;
    position: relative;
    top: -66px;
    transition: .3s;
    visibility: hidden;
  }

  #sign-up {
    margin: 20px 0;
    text-align: center;

    a {
      color: #fff;
      text-decoration: none;
    }

  }

  &.sign-up {

    .name {
      height: 66px;
      opacity: 1;
      top: 0;
      visibility: visible;
    }

  }

  .error {
    background-color: #822;
    bottom: -66px;
    left: 0;
    padding: 20px;
    position: absolute;
    right: 0;
    text-align: center;
    transition: .3s;

    &.show {
      bottom: 0;
    }
  }

}
