<template name="Login">

  <section class="main login">

    <form>

      <div class="name">
        <label for="name">Name</label>
        <input type="text" id="name">
      </div>

      <label for="email">Email</label>
      <input type="email" id="email" required>

      <label for="password">Password</label>
      <input type="password" id="password" required>

      <button type="submit">Sign in</button>

    </form>

    <p id="sign-up"><a href="#sign-up">Create new account</a></p>

    <div class="error"></div>

  </section>

</template>
