<template name="editTeam">

  <form class="overlay edit-team">

    <img src="/images/ic_close.svg" alt="Close" id="close">

    <h2>Edit team</h2>

    <div class="form-group">
      <label for="edit-team-name" class="moving">Team name</label>
      <input type="text" id="edit-team-name" value="{{ currentTeam.name }}" required>
    </div>

    <div class="form-group">
      {{#if currentTeam.isPublic}}
      <input type="checkbox" id="edit-public" checked>
      {{else}}
      <input type="checkbox" id="edit-public">
      {{/if}}
      <label for="edit-public" class="checkbox">✔</label>
      <label for="edit-public">Make this team public</label>
    </div>

    <button type="submit" class="submit">Edit team</button>

  </form>

</template>
