<template name="Team">

  <section class="main team">

    {{#if currentTeam }}

    <h2>Members</h2>
    <ul class="list">
      {{#each members}}
        <li><div class="img"></div> {{profile.name}}</li>
      {{/each}}
    </ul>

    {{else}}

    <p class="no-data">
      You are not in a team yet.<br>
      Please join a team or create a new one using the buttons below:
    </p>
    <!-- <h2>You are not in a team yet.</h2>
    <h2>Please join a team or create a new one using the buttons below:</h2> -->

    {{/if}}


    <a href="#" class="create">Create a team</a>
    <a href="#" class="join">Join a team</a>

  </section>

  {{> teams}}
  {{> newTeam}}

</template>
